{% extends "blog/base.html" %}
{% block content %}

<button type="button" class="btn btn-primary btn-lg" id="button_review" onclick="location.href='{% url 'new-review' empresa_id empresa_name %}'">Nova Avaliação</button>

<div class="row">
<div class="col-md-8">
{% if review %}
{% for review in review %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">{{ review.author }} - {{ empresa_name }}</a>
                <small class="text-muted">{{ review.date_posted }}</small>
            </div>
            <h2><a class="article-title">{{ review.título }}</a></h2>
            <p class="article-content">{{ review.detalhes }}</p>
            <p class="article-content"><strong>Nota: {{ review.avaliação }}</strong></p>
        </div>
    </article>
{% endfor %}
{% else %}
<article class="media content-section">
    <div class="media-body">
        <h2><a class="article-title">Nada para ver aqui...</a></h2>
        <div class="border-top pt-3">
            <strong class="text-muted">
                <a href="{% url 'blog-home' %}">Voltar</a>
            </strong>
        </div>
    </div>
</article>
{% endif %}
{% for empresa in empresas %}
</div>
    <div class="col-md-4">
        <div class="content-section">
        <h3>{{ empresa_name }}</h3>
        <p class="text-muted">Veja aqui algumas informações sobre essa empresa.
            <ul class="list-group">
            <li class="list-group-item list-group-item-light">Website: <a href="{{ empresa.website }}">{{ empresa.website }}</a></li>
            <li class="list-group-item list-group-item-light">Nota média: {{ empresa.average_avaliação|default:"-" }}</li>
            </ul>
        </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
